---
---
$primary: #4d1a4a;
$background: #ffeff0;
$link: #ff6c2f;
$link-visited: $link;
$text: #4d1a4a;
$text-strong: #4d1a4a;
$body-background-color: $background;
$link-hover: #8b00a8;
@import "main";
