---
---
$primary: #2e3447;
$background: #f7f1eb;
$link: #d87364;
$link-visited: $link;
$text: #32373c;
$text-strong: #32373c;
$body-background-color: $background;
$link-hover: #b4c19b;
@import "main";
