---
---
$primary: #5043e7;
$background: #fcecff;
$link: #ff00b2;
$link-visited: $link;
$text: #000000;
$text-strong: $text;
$body-background-color: $background;
$link-hover: $primary;
@import "main";
