---
---
$primary: #48beb7;
$background: #ffffff;
$link: #48beb7;
$link-visited: $link;
$text: #000000;
$text-strong: $text;
$body-background-color: $background;
$link-hover: $primary;
@import "main";
