---
---
$primary: #bc272d;
$background: #f8dfd7;
$link: #ec5a24;
$link-visited: $link;
$text: #000000;
$text-strong: $text;
$body-background-color: $background;
$link-hover: $primary;
@import "main";
