---
---
$primary: #08213C;
$background: #ffffff;
$link: #3890D6;
$link-visited: $link;
$text: #000000;
$text-strong: $text;
$body-background-color: $background;
$link-hover: $primary;
@import "main";
